[server]

[mysqld]

user = mysql
pid-file = /run/mysqld/mysqld.pid
socket = /run/mysqld/mysqld.sock
basedir = /usr
datadir = /var/lib/mysql
tmpdir = /tmp
lc-messages-dir = /usr/share/mysql
bind-address = 0.0.0.0

# bind-address = 127.0.0.1
# port = 3306
# by default, mariaDB only allows connections from 'localhost'
# set bind addr to 0.0.0.0 to allow connection from ALL network
# specify port to 3306

# BIG Lesson! mysql is for [client], who have no right for 'datadir' and 'bing-add'
# that's why it was 'unknown var'
# [mysqld] or [mairadb] is [server], support these options!